@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this demo website</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/devops/?view=azure-devops">CI/CD</a>.</p>
</div>
